@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #084152 !important;
}

h1 {
  font-size: 2.5rem !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}

.card {
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.form-control {
  border-radius: 5px;
}

button {
  border-radius: 10px !important;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #052c38d6 !important;
}

.edit-task-input {
  background-color: #fffafa !important;
  color: #000000 !important;
  border: 1px solid #ffffff !important;
  border-radius: 5px;
  padding-right: 5px !important;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s, box-shadow 0.3s;
}

.edit-task-input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; 
  outline: none !important;
}


.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.custom-add-task-button {
    background-color: #084152d6 !important;
    border-color: #007bff !important; 
    color: #ffffff !important; 
    padding: 10px 20px !important;
      width: 100%;
  }

.list-group-item span {
  font-size: 1.2rem;
}

button.btn-danger {
  border-radius: 5px;
}